html {
    height: 100%;
}

*:focus {
    outline: none;
}

body {    
    height: 100%;
    margin: 0;

    display: flex;

    background-color: #404142;

    font-family: Arial, Helvetica, sans-serif;
}

#content {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 1s;
}

#inputArea {
    background-color: rgba(179, 179, 181, 0.5);
    border-radius: 5px;
    width: 20%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#inputForm {
    width: 80%;
}

#gameContainer {
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    width: 100%;
    font-size: 150%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
    padding: 1.2% 2%;
    margin: 2% 0;
}

button {
    width: 100%;

    font-size: 135%;
    
    border: none;
    border-radius: 4px;

    cursor: pointer;

    padding: 2.2% 3%;
    margin: 8px 0;

    color: white;
    background-color: rgba(19, 128, 232, 0.7);
}

button:hover {
    background-color: rgba(19, 128, 232, 1);
}

.selectGameButton {
    width: 25%;

    font-size: 150%;

    border: none;
    border-radius: 4px;

    cursor: pointer;

    padding: 2.2% 3%;
    margin: 8px 8px;

    color: white;
    background-color: rgba(19, 128, 232, 0.7);
}

.gameButton {
    width: 100%;

    font-size: 150%;

    border: none;
    border-radius: 4px;

    cursor: pointer;

    /* padding: 2.2% 3%; */
    /* margin: 8px 8px; */

    color: white;
    background-color: rgba(19, 128, 232, 0.7);
}


button:disabled, button[disabled]{
  /* border: 1px solid #999999; */
  background-color: #cccccc;
  color: #666666;
  cursor: default;
}

.menuSection {
    z-index: 2;
    height: calc(100%);
    float: left;
    width: 20%;
    -webkit-transition: width 1s;
    transition: width 1s;
}

.menu {
    user-select: none;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #252526;
    overflow-x: hidden;
    -webkit-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
    padding-top: 100px;
}

.menu div {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #D6D8DE;
    display: block;
    transition: 0.3s;
}

#menuButton {
    position: absolute;
    padding: 10px;
    z-index: 999;
    width: 45px;
    height: 45px;
    display: inline-block;    
}

#menuButton:hover {
    cursor: pointer;
}

#menuButton:hover > div {
    background-color: #8E9094;
}

.menuIcon1, .menuIcon2, .menuIcon3 {
    height: 10%;
    width: 80%;
    background-color: #D6D8DE;
    opacity: 100;
    margin: 8px;
    margin-left: 4px;
    margin-right: 0px;
    border-radius: 5px;
    transition: 1s;
}

.change .menuIcon1 {
    -webkit-transform: rotate(-405deg) translate(-10px, 10px);
    transform: rotate(-405deg) translate(-10px, 10px);
}

.change .menuIcon2 {
    opacity: 0;
}

.change .menuIcon3 {
    -webkit-transform: rotate(405deg) translate(-8px, -8px);
    transform: rotate(405deg) translate(-8px, -8px);
}

.change .menu {
    width: 20%;
}

.change .menuOptions {
    width: 100%;
}

/* BOARD CSS HERE */

table {
    table-layout: fixed;
    border: none;
    text-align: center;
    table-layout:fixed;
    border-collapse: collapse;
    width:700px;
    height:700px;
}

#board {
    background-image: url('../images/Board.jpg');
    background-size: 700px 700px;
    background-repeat: no-repeat;

    /* width: 700px;
    height: 700px; */
}

.edge {
    border: none;
    height: 94px !important;
    width: 95px !important;
    padding: 0px;
    margin: 0px;
}

.player{
    width: 20px;
    height:20px;
}

#gameControls {
    width: 20%;
    height: 700px;

    position: absolute;
    right: 50px;

    /* display: flex;    
    margin-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px; */

    background-color: rgba(179, 179, 181, 0.5);

    border-radius: 5px;
}

.gameControlSection {
    width: 90% !important;
    height: 33.3%;

    margin: 0 auto;

    border-bottom: 2px solid #404142;

    display: flex;
    align-items: center;
    justify-content: center;
}

.gameControlSection:last-child {
    border-bottom: none;
}

#dicePosition1 {
    float: left;
    height: 15px;
    width: 15px;
    padding: 15px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;  
    font-size:18px;
    background-color: white;
    /*visibility: visible;*/
    opacity: 0.0;
}

#dicePosition2 {
    float: left;
    height: 15px;
    width: 15px;
    padding: 15px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;  
    font-size:18px;
    background-color: white;
    /*visibility: visible;*/
    opacity: 0.0;
}

.hor {
    width: 94px;
    height: 56px;
    padding: 0px;
}

.ver {
    width: 56px;
    height: 96px;
    padding: 0px;
}